{% extends "base.html.twig" %}

{% block title %}Saison page{% endblock %}

{% block body %}
<h1>Saisaon {{ season.number }} de {{ program.title }}</h1>
    <hr>
    <div>
        <p>{{ season.description }}</p>
        <p>Description: {{ program.summary }}</p>
        <p>Année: {{ season.year }}</p>
    </div>
    <hr>
    <div>
        <h2>Liste des épisodes</h2>
        {% for episode in season.episodes %}
            <div>
                <a href="{{ path("program_episode_show", {program_id: program.id, season_id: season.id, episode_id: episode.id}) }}"><p>Episode {{ episode.number }} : {{ episode.title }}</p></a>
            </div>
        {% else %}
            <p>Aucune épisode trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}